
.wrapper .row {
    font-size: 0px;
    text-align: center;
}

.wrapper .block {
    background-color: deeppink;
    color: #fff;
    text-align: center;
    display: inline-block;
    height: 15px;
    margin: 1%;
    margin-bottom: 2px;
    width: 10%;
}
